<template>
	<div id="chocolate">
		<div>
			<div id="Search">
				<label for="nameSearch">Factory Name:</label>
				<input class="searchBar" type="text" name="nameSearch" v-model="searchParameters.factoryName">
				<label for="chocolateSearch">Chocolate Name:</label>
				<input class="searchBar" type="text" name="chocolateSearch" v-model="searchParameters.chocolateName">
				<label for="location">Location:</label>
				<input class="searchBar" type="text" name="location" v-model="searchParameters.location">
				<label for="rating">Rating:</label>
				<input class="searchBar" type="text" name="rating" v-model="searchParameters.rating" style="width: 30px;">
				<br>
				<br>
				<td><input type="submit" value="Search" v-on:click="searchFactories()"></td>

				<!-- Chocolate Type Filter with Checkboxes -->
				<label for="chocolateType">Chocolate Type:</label>
				<div class="dropdown">
					<div class="dropdown-content">
						<label v-for="type in chocolateTypes" :key="type">
							<input type="checkbox" :value="type" v-model="selectedChocolateTypes">
							{{ type }}
						</label>
					</div>
				</div>

				<!-- Chocolate Variety Filter with Checkboxes -->
				<label for="chocolateVariety">Variety:</label>
				<div class="dropdown">
					<div class="dropdown-content">
						<label v-for="variety in chocolateVarieties" :key="variety">
							<input type="checkbox" :value="variety" v-model="selectedChocolateVarieties">
							{{ variety }}
						</label>
					</div>
				</div>
				<!-- Factory Status Filter with Checkboxes -->
				<label for="factoryStatus">Factory Status:</label>
				<div class="dropdown">
				<div class="dropdown-content">
					<label>
					<input type="checkbox" value="OPEN" v-model="selectedStatuses">
					OPEN
					</label>
					<label>
					<input type="checkbox" value="CLOSED" v-model="selectedStatuses">
					CLOSED
					</label>
				</div>
				</div>

			</div>
			<table id="tabela">
			<thead>
				<tr>
				<th>Logo</th>
				<th @click="sortTable('name')">Name</th>
				<th @click="sortTable('location')">Location</th>
				<th @click="sortTable('score')">Avg. Score</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="f in factories" :key="f.id" @click="goToFactoryOverview(f)">
				<td><img width="75" height="75" :src="require(`@/assets/${f.logo}`)" alt="Logo"></td>
				<td>{{ f.name }}</td>
				<td>{{ f.location }}</td>
				<td>{{ f.score }}</td>
				</tr>
			</tbody>
			</table>

			<form v-if="userType === 'Admin'" id="factoryForm" @submit="createFactory($event)" class="compact-form">
				<table id="newFactoryTable">
				<tr>
					<td><label for="factoryName">Factory Name</label></td>
					<td><input type="text" name="name" id="factoryName" v-model="newFactory.name" class="input-field"></td>
				</tr>
				<tr>
					<td><label for="location">Location</label></td>
					<td><input type="text" name="location" id="location" v-model="newFactory.location" class="input-field"></td>
				</tr>
				<tr>
					<td><label for="operatinghours">Operating Hours (AA:BB-CC:DD)</label></td>
					<td><input type="text" name="operatinghours" id="operatinghours" v-model="newFactory.operatingHours" class="input-field"></td>
				</tr>
				<tr>
					<td><label for="manager">Manager</label></td>
					<td>
					<select v-model="selectedManager" class="select-field">
						<option disabled value="">Select a manager</option>
						<option v-for="manager in managers" :key="manager.id" :value="manager">
						{{ manager.lastName }}
						</option>
					</select>
					<router-link to="/signup" class="new-manager-link">New Manager</router-link>
					</td>
				</tr>
				<tr>
					<td><label for="logo">Logo</label></td>
					<td>
					<input type="file" @change="handleFileUpload" class="file-input">
					<p v-if="selectedFilePath" class="file-path">Selected File: {{ selectedFilePath }}</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
					<input type="submit" value="Create" class="submit-button">
					</td>
				</tr>
				</table>
				<p id="error" class="error-message">{{ error }}</p>
			</form>

		</div>
	</div>
</template>

<script setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import router from '../router';


// Ref to store the file path
const selectedFilePath = ref("");
const userType = ref('');
const mode = ref("BROWSE");
const modeUpdate = ref("BROWSE");
const factories = ref([]);
const chocolates = ref([]);
const selectedChocolate = ref({ id: "",
								name: "",
								price: 0,
								variety: "",
								factoryId: "",
								type: "",
								weight: 0,
								description: "",
								status: "default",
								quantity: 1});
const newFactory = ref({ id: "7",
						 name: "",
						 availableChocolates: [],
						 operatingHours: "",
						 status: "OPEN",
						 location: "",
						 score: 0.0,
						 logo: ""});
const selectedManager = ref({});
const managers = ref([]);
const error = ref("");
const chocolateTypes = ref(['Crna', 'Bela', 'Mlecna']);
const selectedChocolateTypes = ref([]);
const chocolateVarieties = ref(['Obicna', 'Za Kuvanje', 'Preliv']);
const selectedChocolateVarieties = ref([]);
const selectedStatuses = ref([]);

const searchParameters = ref({ factoryName: "",
							   chocolateName: "",
							   location: "",
							   rating: 0.0});
const allFactories = ref([]);
const formData = new FormData();
onMounted(() => {
	loadFactories();
	loadChocolates();
	loadUsersAndFilterManagers();
	loadData();
})

function loadData() {
    const storedUser = localStorage.getItem('user');
    if (storedUser) {
      const parsedUser = JSON.parse(storedUser);
      userType.value = parsedUser.userType;  // Set the userType based on stored data
    }
  }

function showForm() {
	mode.value = "CREATE";
	selectedChocolate.value = { id: '', name: null, price: null, variety: null, factoryId: null, type: null, weight: null, description: null, quantity: 1}
}
function showFormUpdate() {
	modeUpdate.value = "CREATE";
	selectedChocolate.value = { id: '', name: null, price: null, variety: null, factoryId: null, type: null, weight: null, description: null, quantity: 1}
}

function loadFactories() {
    axios.get('http://localhost:8080/WebShopAppREST/rest/factories')
        .then(response => {
            const openedFactories = [];
            const closedFactories = [];
			
            // Separate factories based on status
            response.data.forEach(factory => {

                if (factory.status === 'OPEN') {
                    openedFactories.push(factory);
                } else if (factory.status === 'CLOSED') {
                    closedFactories.push(factory);
                }

            });

            // Sort opened factories by score (descending)
            openedFactories.sort((a, b) => b.score - a.score);
            // Sort closed factories by score (descending)
            closedFactories.sort((a, b) => b.score - a.score);
            // Then, sort by score (descending)



            factories.value = openedFactories.concat(closedFactories);
			allFactories.value = factories.value;

        });
}

function searchFactories() {
    const openedFactories = [];
    const closedFactories = [];

    allFactories.value.forEach(factory => {

        // Check if the factory matches the search parameters
        const matchesName = factory.name.toLowerCase().includes(searchParameters.value.factoryName.toLowerCase()) || searchParameters.value.factoryName === "";
		const matchesChocolateName = factory.availableChocolates.some(chocolate => chocolate.name.toLowerCase().includes(this.searchParameters.chocolateName.toLowerCase())) || searchParameters.value.chocolateName === "";
        const matchesLocation = factory.location.toLowerCase().includes(searchParameters.value.location.toLowerCase()) || searchParameters.value.location === "";
        const matchesRating = factory.score >= searchParameters.value.rating || searchParameters.value.rating === 0;

        // Check if the factory matches the selected chocolate types
        const matchesChocolateType = selectedChocolateTypes.value.length === 0 || factory.availableChocolates.some(choco => selectedChocolateTypes.value.includes(choco.type));

        // Check if the factory matches the selected chocolate varieties
        const matchesChocolateVariety = selectedChocolateVarieties.value.length === 0 || factory.availableChocolates.some(choco => selectedChocolateVarieties.value.includes(choco.variety));

        // Check if the factory matches the selected statuses
        const matchesStatus = selectedStatuses.value.length === 0 || selectedStatuses.value.includes(factory.status);

        if (matchesName && matchesChocolateName && matchesLocation && matchesRating && matchesChocolateType && matchesChocolateVariety && matchesStatus) {
            if (factory.status === 'OPEN') {
                openedFactories.push(factory);
            } else if (factory.status === 'CLOSED') {
                closedFactories.push(factory);
            }
        }
    });

    factories.value = openedFactories.concat(closedFactories);    
}

const sortState = ref({ key: '', ascending: true });

function sortTable(key) {
  if (sortState.value.key === key) {
    // If the same key is clicked, toggle the sorting order
    sortState.value.ascending = !sortState.value.ascending;
  } else {
    // If a different key is clicked, set it as the new key and default to ascending order
    sortState.value.key = key;
    sortState.value.ascending = true;
  }

  factories.value.sort((a, b) => {
    const comparison = (typeof a[key] === 'string' && typeof b[key] === 'string')
      ? a[key].localeCompare(b[key])
      : a[key] - b[key];

    return sortState.value.ascending ? comparison : -comparison;
  });
}

function loadChocolates() {
    axios.get('http://localhost:8080/WebShopAppREST/rest/chocolates/')
        .then(response => {
                    //loadedChocolates.push(chocolate);
					chocolates.value = response.data;			
        });		
}

function loadUsersAndFilterManagers() {
  axios.get('http://localhost:8080/WebShopAppREST/rest/users')
    .then(response => {
      // Assuming each user has a role property, and 'manager' identifies a manager
      managers.value = response.data.filter(user => user.userType === 'Manager' && user.manages === 0);
    })
    .catch(error => {
      console.error('Error loading users:', error);
    });
}



function createFactory(event) {
	event.preventDefault();
	this.newFactory.logo = newFactory.logo;
	axios.post('http://localhost:8080/WebShopAppREST/rest/factories', this.newFactory)
		.then((response) => {
			console.log(newFactory);
			alert('Novi fabricio uspešno kreiran');
			this.factories.push(response.data);
			this.newFactory.id = response.data.id;
			selectedManager.value.manages = this.newFactory.id;
			axios.put(`http://localhost:8080/WebShopAppREST/rest/users/${selectedManager.value.id}`, selectedManager.value)
			.then((response) => {				
				alert('Uspesno azurirano');
				//location.reload();
			})
		})	
		
}

function goToFactoryOverview(factory) {
  localStorage.setItem('selectedFactory', JSON.stringify(factory));
  router.push({ name: 'factoryOverview' });
}

function deleteChocolate() {
    const id = selectedChocolate.value.id; // Assuming selectedChocolate is a ref/reactive variable

    axios.delete(`http://localhost:8080/WebShopAppREST/rest/chocolates/${id}`)
        .then((response) => {
            console.log('Response:', response.data); // Log response for debugging
            alert('Uspesno obrisano');
            // Optionally update frontend state or UI after successful deletion
        })
        .catch((error) => {
            console.error('Error deleting chocolate:', error);
            // Handle error, show error message, etc.
        });
}
function updateChocolate() {
    const id = selectedChocolate.value.id; // Assuming selectedChocolate is a ref/reactive variable
    const updatedChocolate = selectedChocolate.value; // Create a copy of the selected chocolate object

    axios.put(`http://localhost:8080/WebShopAppREST/rest/chocolates/${id}`, updatedChocolate)
        .then((response) => {
            alert('Uspesno azurirano');
            // Optionally update frontend state or UI after successful update
        })
        .catch((error) => {
            console.error('Error updating chocolate:', error);
            // Handle error, show error message, etc.
        });
}
// Method to handle file selection
function handleFileUpload(event) {
    const file = event.target.files[0];
    if (file) {
		console.log(selectedFilePath);		
		newFactory.logo = file.name; // Set the logo to the file name
		
		console.log(newFactory.logo);
        const reader = new FileReader();
        reader.onload = () => {
            const base64Image = reader.result.split(',')[1]; // Get the base64 part
            const payload = {
                imageData: base64Image,
                fileName: file.name
            };

            axios.post('http://localhost:8080/WebShopAppREST/rest/uploadImage', payload)
                .then(response => {
                    console.log('Image uploaded successfully:', response.data);

                })
                .catch(error => {
                    console.error('Image upload failed:', error);
                });
        };

        reader.readAsDataURL(file); // Convert the image to base64
    }
}

// Method to save the file path to the desired field (e.g., in a model)


</script>

<style scoped>
/* Global Settings */
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Search Bar Styling */
.searchBar {
  width: 200px;
  height: 30px; /* Adjust the height here */
  padding: 5px; /* Reduce padding */
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px; /* Ensure font is not too large */
}

.searchBar:focus {
  border-color: #4a90e2;
  outline: none;
}

#Search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Centers the Search button */
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Search Button Styling */
input[type="submit"] {
  padding: 10px 15px;
  background-color: #4a90e2;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #357abd;
}

/* Dropdown Styling */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* Table Styling */
/* Search Bar Styling */
.searchBar {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#Search button {
  height: 35px; /* Matches with other inputs */
  font-size: 14px;
  padding: 5px 15px;
}

/* Adjusting the dropdown filter section */
.dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

/* Table Styling */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #ddd;
}

thead th {
  background-color: #f2f2f2;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
}

tbody td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

#tabela img {
  width: 75px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Improve hover effect */
#tabela tbody tr:hover td {
  background-color: #e6f2ff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Responsive form layout */
@media (max-width: 768px) {
  #Search {
    flex-direction: column;
    align-items: stretch;
  }
  
  .searchBar, #Search button {
    width: 100%;
  }
}
.compact-form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
}



#newFactoryTable{
	width: 100%;
}

td {
  padding: 8px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

label {
  font-weight: bold;
  color: #333;
}

.input-field,
.select-field,
.file-input {
  width: 90%;
  padding: 6px 8px;
  margin: 3px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.input-field:focus,
.select-field:focus,
.file-input:focus {
  border-color: #4a90e2;
  outline: none;
}

.submit-button {
  background-color: #4a90e2;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #357abd;
}

.new-manager-link {
  margin-top: 8px;
  display: inline-block;
  color: #4a90e2;
  font-size: 12px;
}

.new-manager-link:hover {
  text-decoration: underline;
}

.file-path {
  font-size: 12px;
  color: #555;
}

.error-message {
  color: red;
  margin-top: 8px;
}
</style>