<template>
  <div class="edit-profile">
    <h2>Edit Profile</h2>
    <form @submit.prevent="saveChanges">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="userData.username" placeholder="Enter new username" />
      </div>

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" v-model="userData.firstName" placeholder="Enter first name" />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" v-model="userData.lastName" placeholder="Enter last name" />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="userData.password" placeholder="Enter new password" />
      </div>

      <button type="submit">Save Changes</button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';

// User data will be held here
const userData = ref({ 	id: "",
						username: "",
						password: "",
						firstName: "",
						lastName: "",
						gender: 0,
						birthDate: "",
						userType: "Customer",
						allOrders: [],
						cart: 0,
						manages: 0,
						point: 0,
						customerType: "Bronze"});

// Load current user data from localStorage
function loadData() {
  const currentUser = localStorage.getItem('user');
  if (currentUser) {
    const parsedUser = JSON.parse(currentUser);
    userData.value = parsedUser;
    username.value = parsedUser.username || '';
    firstName.value = parsedUser.firstName || '';
    lastName.value = parsedUser.lastName || '';
    password.value = '';
  }

  console.log()
}

// Save changes and update the backend
function saveChanges() {
  axios.put(`http://localhost:8080/WebShopAppREST/rest/users/${userData.value.id}`, userData.value)
    .then((response) => {
      localStorage.setItem('user', JSON.stringify(userData.value));
      alert('Profile updated successfully!');
    })
    .catch((error) => {
      console.error('Error updating profile:', error);
    });
}

onMounted(() => {
  loadData(); // Fill the form with current user information when the component is mounted
});
</script>

<style scoped>
.edit-profile {
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
</style>