<template>
  <div class="factory-overview">
    <!-- Factory Details Section -->
    <div class="header">
      <img :src="logoUrl" alt="Factory Logo" class="logo">
      <h1>{{ factory.name }}</h1>
    </div>
    <div class="details">
      <div class="detail-item">
        <span class="label">Location:</span>
        <span class="value">{{ factory.location }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Operating Hours:</span>
        <span class="value">{{ factory.operatingHours }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Status:</span>
        <span class="value">{{ factory.status }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Score:</span>
        <span class="value">{{ factory.score }}</span>
      </div>
    </div>

    <!-- Available Chocolates Section -->
    <!-- Available Chocolates Section -->
    <div class="chocolates">
      <h2>Available Chocolates</h2>
      <ul>
        <li v-for="(chocolate, index) in factory.availableChocolates" :key="chocolate.id" class="chocolate-item">
          <td><img width="50" height="50" :src="require(`@/assets/${chocolate.logo}`)" alt="Logo"></td>
          <span class="chocolate-name">{{ chocolate.name }}</span>
          <span class="chocolate-type">{{ chocolate.type }}</span>
          <span v-if="userType !== 'Customer' && chocolate.quantity > 0" class="chocolate-quantity">{{ chocolate.quantity }}</span>
          <span v-else-if="userType !== 'Customer' && chocolate.quantity === 0" class>Out of Stock</span>
          <!-- cisto zbog razmaka -->
          <span v-else></span> 
          <input v-if="userType === 'Customer' && chocolate.quantity > 0" type="number" v-model.number="chocolateQuantities[chocolate.id]" min="1" :max="chocolate.quantity" class="quantity-input" style="width: 50px;"/>      
          <!-- Update and Delete Buttons -->
          <button v-if="(userType === 'Manager' && parsedUser.manages == factory.id) || (userType === 'Employee' && parsedUser.manages == factory.id)" @click="loadChocolateForUpdate(chocolate)" class="update-btn">Update</button>
          <button v-if="userType === 'Manager' && parsedUser.manages == factory.id" @click="confirmDeleteChocolate(chocolate, index)" class="delete-btn">Delete</button>
          <button v-if="userType === 'Customer' && chocolate.quantity > 0" @click="addToCart(chocolate)" :disabled="isChocolateInCart(chocolate.id) || isDifferentFactory" class="add-to-cart-btn">Add to Cart</button>
          <span v-else-if="userType === 'Customer' && chocolate.quantity === 0" class="out-of-stock-text">Out of Stock</span>
        </li>
      </ul>
      <!-- Toggleable Cart Button -->
      <button v-if="userType === 'Customer'" @click="toggleCart"  class="show-cart-btn">
        {{ showCart ? 'Hide Cart' : 'View Your Cart' }} ({{ currentCart.chocolates.length }} items)
      </button>
    </div>

    <!-- Add New Chocolate Form (Visible for Managers Only) -->
    <div v-if="userType === 'Manager' && parsedUser.manages == factory.id" class="add-chocolate-form">
      <h2>{{ isUpdateMode ? 'Update Chocolate' : 'Add New Chocolate' }}</h2>
      <form id="forma" @submit="isUpdateMode ? updateChocolate($event) : createChocolate($event)">
        <table>
          <tr>
            <td>Name</td>
            <td><input type="text" name="name" v-model="selectedChocolate.name"></td>
          </tr>
          <tr>
            <td>Price</td>
            <td><input type="number" name="price" v-model="selectedChocolate.price"></td>
          </tr>
          <tr>
            <td>Variety</td>
            <td><input type="text" name="variety" v-model="selectedChocolate.variety"></td>
          </tr>
          <tr>
            <td>Type</td>
            <td><input type="text" name="type" v-model="selectedChocolate.type"></td>
          </tr>
          <tr>
            <td>Weight</td>
            <td><input type="number" name="weight" v-model="selectedChocolate.weight"></td>
          </tr>
          <tr>
            <td>Description</td>
            <td><input type="text" name="description" v-model="selectedChocolate.description"></td>
          </tr>
          <tr>
            <td>Factory</td>
            <td><input type="text" name="factoryName" v-model="factory.name" disabled></td>
          </tr>
          <tr>
            <td><label for="logo">Logo</label></td>
            <td>
            <input type="file" @change="handleFileUpload" class="file-input">
            </td>
          </tr>
          <tr class="submit-row">
            <td colspan="2">
              <input type="submit" value="Submit">
              <!-- Cancel Button -->
              <button @click.prevent="resetForm()" class="cancel-btn">Cancel</button>
            </td>
          </tr>
        </table>
        <p id="error">{{ error }}</p>
      </form>
    </div>
    <!-- Update Quantity for Employees -->
    <div v-if="userType === 'Employee' && isUpdateMode" class="add-chocolate-form">
      <h2>Update Chocolate Quantity</h2>
      <form id="forma" @submit="updateChocolate($event)">
        <table>
          <tr>
            <td>Quantity</td>
            <td><input type="number" name="quantity" v-model="selectedChocolate.quantity"></td>
          </tr>
          <tr class="submit-row">
            <td colspan="2">
              <input type="submit" value="Update Quantity">
            </td>
          </tr>
        </table>
        <p id="error">{{ error }}</p>
      </form>
    </div>

    <!-- Button for Adding New Employee -->
    <div v-if="userType === 'Manager' && parsedUser.manages == factory.id" class="add-employee">
      <router-link to="/signup">
        <button class="add-employee-btn">Add New Employee</button>
      </router-link>
    </div>    
  </div>
  <!-- Cart Preview Section -->
<div v-if="showCart" class="cart-preview">
  <h3 class="cart-title">Your Cart</h3>
  <!-- Cart Header -->
<div class="cart-header">
  <div class="cart-header-item cart-logo"></div>
  <div class="cart-header-item cart-header-item-name">Chocolate Name</div>
  <div class="cart-header-item cart-header-item-weight">Weight</div>
  <div class="cart-header-item cart-header-item-variety">Variety</div>
  <div class="cart-header-item cart-header-item-type">Type</div>
  <div class="cart-header-item cart-header-item-price">Price</div>
  <div class="cart-header-item cart-header-item-quantity">Quantity</div>
  <div class="cart-header-item cart-header-item-total-price">Total</div>
  <div class="cart-header-item cart-header-item-remove"></div>
</div>


  <!-- Cart Items -->
  <div class="cart-items">
    <div v-for="(chocolate, index) in currentCart.chocolates" :key="chocolate.id" class="cart-item">
      <div class="cart-item-details">
        <!-- Logo Placeholder -->
        <div class="cart-item-logo">
          <img :src="require(`@/assets/${chocolate.logo}`)" alt="Logo" style="width: 60px; height: 60px;" />
        </div>

        <!-- Chocolate Name -->
        <div class="cart-item-name">{{ chocolate.name }}</div>

        <!-- Chocolate Weight -->
        <div class="cart-item-weight">{{ chocolate.weight }} g</div>

        <!-- Chocolate Variety -->
        <div class="cart-item-variety">{{ chocolate.variety }}</div>

        <!-- Chocolate Type -->
        <div class="cart-item-type">{{ chocolate.type }}</div>

        <!-- Chocolate Price -->
        <div class="cart-item-price">{{ chocolate.price.toFixed(2) }} $</div>

        <!-- Input for Quantity with Validation -->
        <input 
          type="number" 
          v-model.number="currentCart.quantities[index]" 
          min="1" 
          :max="chocolate.quantity" 
          class="quantity-input"
          @input="validateQuantity($event, chocolate, index)"
        />

        <!-- Total Price -->
        <div class="cart-item-total-price">{{ (Number(chocolate.price) * Number(currentCart.quantities[index])).toFixed(2) }} $</div>

        <!-- Remove Button -->
        <button @click="removeFromCart(index)" class="delete-btn">Remove</button>
      </div>
    </div>
  </div>

  <!-- Cart Summary Section -->
  <div class="cart-summary">
    <div class="summary-detail">
      <span class="summary-label">Total Quantity:</span>
      <span class="summary-value">{{ totalCartQuantity }}x</span>
    </div>
    <div class="summary-detail">
      <span class="summary-label">Total Price:</span>
      <span class="summary-value">{{ totalCartPrice.toFixed(2) }} $</span>
    </div>
  </div>

  <!-- Checkout / Empty Cart Buttons -->
  <div class="cart-actions">
    <button class="checkout-btn" :disabled="isDifferentFactory" @click="checkoutCart">Checkout</button>
    <button class="empty-cart-btn" @click="emptyCart">Empty Cart</button>
  </div>

</div>

</template>

  
  <script setup>
  import { onMounted, ref, computed } from 'vue';
  import axios from 'axios';
  
  const factory = ref({
    id: "",
    name: "",
    availableChocolates: [],
    operatingHours: "",
    status: "",
    location: "",
    score: 0.0,
    logo: ""
  });

  const error = ref("");
  const chocolates = ref([]);
  const userPoints = ref(0);
  const factories = ref([]);
  const userType = ref('');
  const isUpdateMode = ref(false);
  const selectedFilePath = ref("");
  const tempTempova = ref("");
  const currentUser = localStorage.getItem('user')
  const parsedUser = JSON.parse(currentUser)
  const userId = ref('');
  const chocolateQuantities = ref({});
  const currentCart = ref({
    id: "",
    chocolates:[],
    totalCost:0.0,
    user:"",
    quantities:[] });
  const newOrder = ref({
    identification:"",
    chocolatesOrdered:[],
    factory:"",
    orderDateTime: new Date().toISOString(),
    price:0.0,
    customer:"",
    status:"Processing"
  });

  const isChocolateInCart = (chocolateId) => {
  return currentCart.value.chocolates.some(choco => choco.id === chocolateId);
  };

  const selectedChocolate = ref({ id: "",
								name: "",
								price: 0,
								variety: "",
								factoryId: "",
								type: "",
								weight: 0,
								description: "",
								status: "default",
								quantity: 1,
                logo: ""});
  
  const logoUrl = computed(() => {
  if (factory.value.logo) {
    // Webpack require method for images
    return require(`@/assets/${factory.value.logo}`);
  }
  return '';
  });
  
  const isDifferentFactory = computed(() => {
    if (!currentCart.value.chocolates.length) {
      return false;
    }
    const cartFactoryId = currentCart.value.chocolates[0].factoryId; // Get factoryId from the first item
    return cartFactoryId !== factory.value.id; // Check if it matches the current factory
  });


  function loadData() {
    const factoryData = localStorage.getItem('selectedFactory');
    if (factoryData) {
      factory.value = JSON.parse(factoryData);
    }
    const storedUser = localStorage.getItem('user');
    if (storedUser) {
      const parsedUser = JSON.parse(storedUser);
      userType.value = parsedUser.userType;  // Set the userType based on stored data
      userId.value = parsedUser.id;
      userPoints.value = parsedUser.points;
    }
    
  }

  function addToCart(chocolate) {
  const quantity = chocolateQuantities.value[chocolate.id];
  const maxQuantity = factory.value.availableChocolates.find(choco => choco.id === chocolate.id)?.quantity || 0;
  
  if (isDifferentFactory.value) {
    alert('You cannot add chocolates from a different factory.');
    return;
  }

  else if (isNaN(quantity) || quantity < 1) {
    alert('Please enter a valid quantity.');
    return;
  }

  else if (quantity > maxQuantity) {
    chocolateQuantities.value[chocolate.id] = maxQuantity;
    alert(`The quantity exceeds available stock.`);
  }
  else{
    currentCart.value.quantities.push(chocolateQuantities.value[chocolate.id].toString())
    currentCart.value.totalCost += chocolateQuantities.value[chocolate.id] * chocolate.price
    currentCart.value.chocolates.push(chocolate);

    axios.put(`http://localhost:8080/WebShopAppREST/rest/carts/${currentCart.value.id}`, currentCart.value)
      .then((response) => {
          
      })
      .catch((error) => {
          console.error('Error updating cart:', error);
          // Handle error, show error message, etc.
      });
  }
}

const showCart = ref(false);

const toggleCart = () => {
  showCart.value = !showCart.value;
};

// Computed properties for total quantity and price
const totalCartQuantity = computed(() => {
  return currentCart.value.quantities.reduce((total, qty) => total + Number(qty), 0);
});

const totalCartPrice = computed(() => {
  return currentCart.value.chocolates.reduce((total, chocolate, index) => {
    return total + (Number(chocolate.price) * Number(currentCart.value.quantities[index]));
  }, 0);
});

const validateQuantity = (event, chocolate, index) => {
  let value = event.target.value;
  value = Number(value);
  
  if (isNaN(value) || value <= 0) {
    event.target.value = 1; // Default to 1 if invalid input
  } else if (value > chocolate.quantity) {
    event.target.value = chocolate.quantity; // Cap to max available quantity
  }
  
  currentCart.value.quantities[index] = Number(event.target.value);
  // Optionally trigger any update logic here if needed
};

const removeFromCart = (index) => {
  currentCart.value.totalCost -= currentCart.value.chocolates[index].price * currentCart.value.quantities[index];
  currentCart.value.chocolates.splice(index, 1);
  currentCart.value.quantities.splice(index, 1);
  axios.put(`http://localhost:8080/WebShopAppREST/rest/carts/${currentCart.value.id}`, currentCart.value)
      .then((response) => {
          
      })
      .catch((error) => {
          console.error('Error updating cart:', error);
          // Handle error, show error message, etc.
      });
};

const emptyCart = () => {
  currentCart.value.chocolates = [];
  currentCart.value.quantities = [];
  currentCart.value.totalCost = 0.0;
  axios.put(`http://localhost:8080/WebShopAppREST/rest/carts/${currentCart.value.id}`, currentCart.value)
      .then((response) => {
          
      })
      .catch((error) => {
          console.error('Error updating cart:', error);
          // Handle error, show error message, etc.
      });
};

function formatDate(date) {
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const day = String(date.getDate()).padStart(2, '0');
  const hours = String(date.getHours()).padStart(2, '0');
  const minutes = String(date.getMinutes()).padStart(2, '0');
  const seconds = String(date.getSeconds()).padStart(2, '0');
  
  return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
}

const checkoutCart = () =>
{
  if (currentCart.value.chocolates.length === 0) {
    alert("Your cart is empty. Please add chocolates to the cart before proceeding to checkout.");
    return;
  }

  newOrder.value.identification = currentCart.value.id;
  newOrder.value.factory = factory.value.name;
  newOrder.value.orderDateTime = formatDate(new Date());
  newOrder.value.price = currentCart.value.totalCost;
  newOrder.value.customer = userId.value;

  newOrder.value.chocolatesOrdered = currentCart.value.chocolates.map((chocolate, index) => ({
    ...chocolate,
    quantity: parseInt(currentCart.value.quantities[index], 10)
  }));
  const awardedPoints = Math.round((currentCart.value.totalCost / 1000) * 133);
  userPoints.value += awardedPoints;
  const parsedUser = JSON.parse(currentUser)
  parsedUser.points = userPoints.value;
  localStorage.setItem('user', JSON.stringify(parsedUser));
  axios.put(`http://localhost:8080/WebShopAppREST/rest/users/${parsedUser.id}`, parsedUser)
          .then(() => {
          });
  axios.post(`http://localhost:8080/WebShopAppREST/rest/orders`, newOrder.value)
      .then((response) => {

        alert("Uspesno ste postavili zahtev za kupovinu cokolada");
        updateFactoryStock();      
        showCart.value = !showCart.value;
        
        return emptyCart();
      })
      .catch((error) => {
          console.error('Error updating cart:', error);
          // Handle error, show error message, etc.
      });
};


const updateFactoryStock = () => {
  const updatePromises = newOrder.value.chocolatesOrdered.map(orderedChocolate => {
    const factoryChocolate = factory.value.availableChocolates.find(choco => choco.id === orderedChocolate.id);    
    if (factoryChocolate) {
      factoryChocolate.quantity -= orderedChocolate.quantity;
      return axios.put(`http://localhost:8080/WebShopAppREST/rest/chocolates/${factoryChocolate.id}`, factoryChocolate);
    }
  }).filter(Boolean); // Remove undefined results in case no factoryChocolate was found.

  Promise.all(updatePromises)
    .then((responses) => {
      console.log('All chocolates updated successfully');
    })
    .catch((error) => {
      console.error('Error updating chocolates:', error);
    });
};


  function loadChocolates() {
    axios.get('http://localhost:8080/WebShopAppREST/rest/chocolates/')
        .then(response => {
            chocolates.value = response.data;

            // Filter chocolates based on the factory ID
            const factoryChocolates = chocolates.value.filter(chocolate => chocolate.factoryId === factory.value.id);

            // Update the factory available chocolates
            factory.value.availableChocolates = factoryChocolates;

            factoryChocolates.forEach(choco => {
            chocolateQuantities.value[choco.id] = 1;
          });
        })
        .catch(error => {
            console.error('Error loading chocolates:', error);
        });
    }

function createChocolate(event) {
    event.preventDefault();

    // Use .value to access the actual value
    selectedChocolate.value.factoryId = factory.value.id;
    selectedChocolate.value.logo = tempTempova.value;
    
    axios.post('http://localhost:8080/WebShopAppREST/rest/chocolates', selectedChocolate.value)
        .then((response) => {
            alert('Novi proizvod uspešno kreiran');
            //loadFactories();
            const tempChocolate = response.data;
            //console.log(tempChocolate);         
            chocolates.value.push(response.data);
            this.factory.availableChocolates.push(tempChocolate);
            console.log(selectedChocolate.value);
            this.factory = factory.value;
            this.factory.availableChocolates = factory.value.availableChocolates;
            axios.put(`http://localhost:8080/WebShopAppREST/rest/factories/${factory.value.id}`, this.factory)
                .then((response) => {
                    alert('Uspesno azurirano');
                    // Optionally update frontend state or UI after successful update
                })
                .catch((error) => {
                    console.error('Error updating chocolate:', error);
                    // Handle error, show error message, etc.
                });
        })
        .catch((error) => {
            console.error('Error creating chocolate:', error);
        });
    

}
function confirmDeleteChocolate(chocolate, index) {
    // Use the confirm dialog for deletion confirmation
    if (confirm(`Are you sure you want to delete ${chocolate.name}?`)) {
      this.deleteChocolate(chocolate.id, index);
    }
  }
function deleteChocolate(chocolateId, index) {
    // First, remove it from the backend
    axios.delete(`http://localhost:8080/WebShopAppREST/rest/chocolates/${chocolateId}`)
      .then(() => {
        // After successful deletion, remove it from the local state
        this.factory.availableChocolates.splice(index, 1);
        alert('Chocolate deleted successfully');

        // Optionally, update the factory to reflect the changes on the backend
        axios.put(`http://localhost:8080/WebShopAppREST/rest/factories/${this.factory.id}`, this.factory)
          .then(() => {
            console.log('Factory updated after chocolate deletion');
          })
          .catch((error) => {
            console.error('Error updating factory after deletion:', error);
          });
      })
      .catch((error) => {
        console.error('Error deleting chocolate:', error);
      });
}
function resetForm() {
    this.selectedChocolate = {};  // Clear form
    this.isUpdateMode = false;    // Switch form back to "Create" mode
}
function updateChocolate(event) {
    event.preventDefault();

    axios.put(`http://localhost:8080/WebShopAppREST/rest/chocolates/${this.selectedChocolate.id}`, this.selectedChocolate)
      .then((response) => {
        const index = this.factory.availableChocolates.findIndex(choc => choc.id === this.selectedChocolate.id);
        if (index !== -1) {
          this.factory.availableChocolates.splice(index, 1, response.data);  // Update the local state with the new data
        }
        alert('Chocolate updated successfully!');
        this.resetForm();
      })
      .catch((error) => {
        console.error('Error updating chocolate:', error);
      });
}
function loadChocolateForUpdate(chocolate) {
    this.selectedChocolate = { ...chocolate };  // Load chocolate data into the form
    this.isUpdateMode = true;  // Switch form to update mode
}
function handleFileUpload(event) {
    const file = event.target.files[0];
    if (file) {		
		tempTempova.value = file.name; // Set the logo to the file name
		
        const reader = new FileReader();
        reader.onload = () => {
            const base64Image = reader.result.split(',')[1]; // Get the base64 part
            const payload = {
                imageData: base64Image,
                fileName: file.name
            };

            axios.post('http://localhost:8080/WebShopAppREST/rest/uploadImage', payload)
                .then(response => {
                    console.log('Image uploaded successfully:', response.data);

                })
                .catch(error => {
                    console.error('Image upload failed:', error);
                });
        };
        
        reader.readAsDataURL(file); // Convert the image to base64
    }
}


function loadCarts()
{
  if(userType.value === 'Customer'){
    axios.get('http://localhost:8080/WebShopAppREST/rest/carts')
      .then((response) => {
        currentCart.value = response.data.find(cart => cart.user === userId.value);
      });
  }
}
  
  onMounted(() => {
    loadData();
    loadChocolates();
    loadCarts();

    
  });
  </script>
  
  <style scoped>
  /* 1. General Styles */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .factory-overview {
    max-width: 1200px; /* Increased width for better visibility */
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* 2. Header and Details */
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    border-radius: 50%;
    width: 150px; /* Increased size */
    height: 150px; /* Increased size */
    object-fit: cover;
    margin-right: 20px;
  }
  
  .header h1 {
    font-size: 2.5rem; /* Increased size */
    margin: 0;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .detail-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0; /* Increased padding */
    border-bottom: 1px solid #ddd;
  }
  
  .detail-item:last-child {
    border-bottom: none;
  }
  
  .label {
    font-weight: bold;
    color: #333;
  }
  
  .value {
    color: #555;
  }
  
  /* 3. Available Chocolates */
  .chocolates {
    margin-top: 30px; /* Increased margin */
  }
  
  .chocolates h2 {
    font-size: 2rem; /* Increased size */
    margin-bottom: 15px; /* Increased margin */
  }
  
  .chocolate-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    padding: 12px 0; /* Increased padding */
    border-bottom: 1px solid #ddd;
  }
  
  .chocolate-item:last-child {
    border-bottom: none;
  }
  
  .chocolate-name {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem; /* Increased size */
  }
  
  .chocolate-type, .chocolate-quantity {
    color: #777;
  }
  
  /* Input for Chocolate Quantities */
  .quantity-input {
    width: 60px; /* Increased width */
    padding: 7px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Increased size */
    text-align: center;
  }
  
  /* Add to Cart Button */
  .add-to-cart-btn {
    padding: 12px 24px; /* Increased padding */
    font-size: 16px; /* Increased size */
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  
  .add-to-cart-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .checkout-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  /* Delete Button */
  .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px; /* Increased padding */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  /* 4. Add Chocolate Form */
  .add-chocolate-form {
    margin-top: 40px; /* Increased margin */
    padding: 30px; /* Increased padding */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .add-chocolate-form h2 {
    font-size: 2rem; /* Increased size */
    margin-bottom: 20px; /* Increased margin */
    color: #333;
  }
  
  .add-chocolate-form table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; /* Increased spacing */
  }
  
  .add-chocolate-form td {
    padding: 15px; /* Increased padding */
  }
  
  .add-chocolate-form td:first-child {
    font-weight: bold;
    color: #555;
    font-size: 16px; /* Increased size */
    padding-right: 15px; /* Increased padding */
    text-align: left;
    vertical-align: middle;
  }
  
  .add-chocolate-form input[type="text"],
  .add-chocolate-form input[type="number"] {
    width: 100%;
    padding: 10px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Increased size */
  }
  
  .add-chocolate-form input[type="text"]:focus,
  .add-chocolate-form input[type="number"]:focus {
    border-color: #28a745;
    outline: none;
  }
  
  /* Center Submit Button */
  .submit-row td {
    display: flex;
    justify-content: center;
    padding-top: 15px; /* Increased padding */
  }
  
  .add-chocolate-form input[type="submit"] {
    padding: 12px 24px; /* Increased padding */
    font-size: 18px; /* Increased size */
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-chocolate-form input[type="submit"]:hover {
    background-color: #218838;
  }
  
  .cancel-btn {
    margin-left: 30px; /* Increased margin */
  }
  
  /* 5. Cart Preview */
  
  /* Button for toggling the cart visibility */
  .show-cart-btn {
    padding: 12px 24px; /* Padding for better click area */
    font-size: 16px; /* Font size for readability */
    color: white;
    background-color: #007bff; /* Primary color */
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
    display: flex;
    align-items: center;
  }
  
  .show-cart-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .show-cart-btn:disabled {
    background-color: #6c757d; /* Disabled state color */
    cursor: not-allowed; /* Not allowed cursor */
  }
  
  .show-cart-btn .item-count {
    margin-left: 8px; /* Spacing between text and item count */
    font-weight: bold; /* Emphasize item count */
  }
  
  /* Cart Preview */
  .cart-preview {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  
  .cart-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Cart Header */
  .cart-header {
    display: flex;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
  }
  
  /* Consistent widths for header and item columns */
  .cart-header-item, .cart-item-details > div {
    text-align: center;
    padding: 10px;
  }
  
  /* Fixed widths to align header and cart items */
  .cart-logo, .cart-item-logo {
    width: 60px;
  }
  
  .cart-header-item-name{
    width: 20%;
  }
  
  .cart-item-name
  {
    width: 20%;
    margin-left: 10px;
  }
  
  .cart-header-item-weight{
    width: 10%;
  }
  .cart-item-weight{
    width: 10%;
    margin-right: 0px;
  }
  
  .cart-header-item-variety{
    width: 15%;
  }
  .cart-item-variety{
    width: 15%;
    margin-right: 5px;
  }
  
  .cart-header-item-type{
    width: 10%;
  }
  
  .cart-item-type{
    width: 10%;
    margin-right: 0px;
  }
  
  .cart-header-item-price{
    width: 10%;
  }
  
  .cart-item-price{
    width: 10%;
    margin-right: 30px;
  }
  
  .cart-header-item-quantity, .cart-item-quantity {
    width: 10%;
  }
  
  .cart-header-item-total-price{
    width: 10%;
  }
  
  .cart-item-total-price {
    width: 10%;
    margin-right: 10px;
  }
  
  .cart-header-item-remove, .cart-item-remove {
    width: 60px;
  }
  
  /* Cart Items */
  .cart-items {
    margin-bottom: 40px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  /* Ensure cart items fill the available width like the header */
  .cart-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .cart-item-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  /* Quantity input */
  .quantity-input {
    width: 60px;
    margin-right: 30px;
    text-align: center;
  }
  
  /* Remove Button */
  .delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  /* Cart Summary */
  .cart-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .summary-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .summary-label {
    font-weight: bold;
    color: #333;
  }
  
  .summary-value {
    color: #555;
  }
  
  /* Cart Actions */
  .cart-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .checkout-btn,
  .empty-cart-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-btn {
    background-color: #28a745;
  }
  
  .checkout-btn:hover {
    background-color: #218838;
  }
  
  .empty-cart-btn {
    background-color: #dc3545;
  }
  
  .empty-cart-btn:hover {
    background-color: #c82333;
  }
  
  
  /* 6. Add New Employee Button */
  .add-employee {
    margin-top: 30px; /* Increased margin */
    display: flex;
    justify-content: center;
  }
  
  .add-employee-btn {
    padding: 12px 24px; /* Increased padding */
    font-size: 18px; /* Increased size */
    color: white;
    background-color: #28a745; /* Green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-employee-btn:hover {
    background-color: #218838;
  }
  
  </style>
  
<style scoped>
/* 1. General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.factory-overview {
  max-width: 1200px; /* Increased width for better visibility */
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* 2. Header and Details */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  border-radius: 50%;
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  object-fit: cover;
  margin-right: 20px;
}

.header h1 {
  font-size: 2.5rem; /* Increased size */
  margin: 0;
}

.details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0; /* Increased padding */
  border-bottom: 1px solid #ddd;
}

.detail-item:last-child {
  border-bottom: none;
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  color: #555;
}

/* 3. Available Chocolates */
.chocolates {
  margin-top: 30px; /* Increased margin */
}

.chocolates h2 {
  font-size: 2rem; /* Increased size */
  margin-bottom: 15px; /* Increased margin */
}

.chocolate-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding: 12px 0; /* Increased padding */
  border-bottom: 1px solid #ddd;
}

.chocolate-item:last-child {
  border-bottom: none;
}

.chocolate-name {
  font-weight: bold;
  color: #333;
  font-size: 1.2rem; /* Increased size */
}

.chocolate-type, .chocolate-quantity {
  color: #777;
}

/* Input for Chocolate Quantities */
.quantity-input {
  width: 60px; /* Increased width */
  padding: 7px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Increased size */
  text-align: center;
}

/* Add to Cart Button */
.add-to-cart-btn {
  padding: 12px 24px; /* Increased padding */
  font-size: 16px; /* Increased size */
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.add-to-cart-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.checkout-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Delete Button */
.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px; /* Increased padding */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* 4. Add Chocolate Form */
.add-chocolate-form {
  margin-top: 40px; /* Increased margin */
  padding: 30px; /* Increased padding */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.add-chocolate-form h2 {
  font-size: 2rem; /* Increased size */
  margin-bottom: 20px; /* Increased margin */
  color: #333;
}

.add-chocolate-form table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px; /* Increased spacing */
}

.add-chocolate-form td {
  padding: 15px; /* Increased padding */
}

.add-chocolate-form td:first-child {
  font-weight: bold;
  color: #555;
  font-size: 16px; /* Increased size */
  padding-right: 15px; /* Increased padding */
  text-align: left;
  vertical-align: middle;
}

.add-chocolate-form input[type="text"],
.add-chocolate-form input[type="number"] {
  width: 100%;
  padding: 10px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Increased size */
}

.add-chocolate-form input[type="text"]:focus,
.add-chocolate-form input[type="number"]:focus {
  border-color: #28a745;
  outline: none;
}

/* Center Submit Button */
.submit-row td {
  display: flex;
  justify-content: center;
  padding-top: 15px; /* Increased padding */
}

.add-chocolate-form input[type="submit"] {
  padding: 12px 24px; /* Increased padding */
  font-size: 18px; /* Increased size */
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-chocolate-form input[type="submit"]:hover {
  background-color: #218838;
}

.cancel-btn {
  margin-left: 30px; /* Increased margin */
}

/* 5. Cart Preview */

/* Button for toggling the cart visibility */
.show-cart-btn {
  padding: 12px 24px; /* Padding for better click area */
  font-size: 16px; /* Font size for readability */
  color: white;
  background-color: #007bff; /* Primary color */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
  display: flex;
  align-items: center;
}

.show-cart-btn:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.show-cart-btn:disabled {
  background-color: #6c757d; /* Disabled state color */
  cursor: not-allowed; /* Not allowed cursor */
}

.show-cart-btn .item-count {
  margin-left: 8px; /* Spacing between text and item count */
  font-weight: bold; /* Emphasize item count */
}

/* Cart Preview */
.cart-preview {
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.cart-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Cart Header */
.cart-header {
  display: flex;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}

/* Consistent widths for header and item columns */
.cart-header-item, .cart-item-details > div {
  text-align: center;
  padding: 10px;
}

/* Fixed widths to align header and cart items */
.cart-logo, .cart-item-logo {
  width: 60px;
}

.cart-header-item-name{
  width: 20%;
}

.cart-item-name
{
  width: 20%;
  margin-left: 10px;
}

.cart-header-item-weight{
  width: 10%;
}
.cart-item-weight{
  width: 10%;
  margin-right: 0px;
}

.cart-header-item-variety{
  width: 15%;
}
.cart-item-variety{
  width: 15%;
  margin-right: 5px;
}

.cart-header-item-type{
  width: 10%;
}

.cart-item-type{
  width: 10%;
  margin-right: 0px;
}

.cart-header-item-price{
  width: 10%;
}

.cart-item-price{
  width: 10%;
  margin-right: 30px;
}

.cart-header-item-quantity, .cart-item-quantity {
  width: 10%;
}

.cart-header-item-total-price{
  width: 10%;
}

.cart-item-total-price {
  width: 10%;
  margin-right: 10px;
}

.cart-header-item-remove, .cart-item-remove {
  width: 60px;
}

/* Cart Items */
.cart-items {
  margin-bottom: 40px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

/* Ensure cart items fill the available width like the header */
.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Quantity input */
.quantity-input {
  width: 60px;
  margin-right: 30px;
  text-align: center;
}

/* Remove Button */
.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Cart Summary */
.cart-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.summary-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.summary-label {
  font-weight: bold;
  color: #333;
}

.summary-value {
  color: #555;
}

/* Cart Actions */
.cart-actions {
  display: flex;
  justify-content: space-between;
}

.checkout-btn,
.empty-cart-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn {
  background-color: #28a745;
}

.checkout-btn:hover {
  background-color: #218838;
}

.empty-cart-btn {
  background-color: #dc3545;
}

.empty-cart-btn:hover {
  background-color: #c82333;
}


/* 6. Add New Employee Button */
.add-employee {
  margin-top: 30px; /* Increased margin */
  display: flex;
  justify-content: center;
}

.add-employee-btn {
  padding: 12px 24px; /* Increased padding */
  font-size: 18px; /* Increased size */
  color: white;
  background-color: #28a745; /* Green */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-employee-btn:hover {
  background-color: #218838;
}

#chocolates img{
  width: 75px;
}

</style>


  
  
  
  