<template>
  <div class="hello">
    <form id="formaUpdate" @submit="Login">
      <table>
        <tr>
          <td>Username: </td>
          <td><input type="text" name="username" v-model="currentUser.username"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" v-model="currentUser.password"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Login"></td>
        </tr>
		<tr>
			<td id="SignUp">
				<router-link to="/signup">Sign up</router-link>
			</td>
		</tr>
      </table>
      <p id="error">{{ error }}</p>
    </form>
  </div>
</template>

<script setup>
import axios from 'axios';
import { onMounted, ref, inject } from 'vue';
import { useRouter } from 'vue-router';

const error = ref("");
const users = ref([]);
const currentUser = ref({
  id: "",
  username: "",
  password: "",
  firstName: "",
  lastName: "",
  gender: 0,
  birthDate: "",
  userType: "Customer",
  allOrders: [],
  cart: 0,
  manages: 0,
  point: 0,
  customerType: "Bronze"
});

const router = useRouter();
const setUserId = inject('setUserId');

onMounted(() => {
  loadProducts();
});

function loadProducts() {
  axios.get('http://localhost:8080/WebShopAppREST/rest/users')
    .then(response => {
      users.value = response.data;
    })
    .catch(error => console.log(error));
}

function Login(event) {
  event.preventDefault(); // Prevent the form from submitting the traditional way

  const userFound = users.value.find(user => 
    user.username === currentUser.value.username && 
    user.password === currentUser.value.password
  );

  if (userFound) {
    currentUser.value = userFound;
    alert("Ulogovani ste kao " + currentUser.value.username);

    if (setUserId) {
      setUserId(currentUser.value.username); // or use userFound.id if needed
    }

    localStorage.setItem('user', JSON.stringify(currentUser.value));  
    router.push({ path: '/' }); // Redirect to Chocolate Factory after login 
  } else {
    alert("Pogresan username ili sifra");
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#SignUp
{
	font-size: 20px;
}

#signup {
    width: 30%;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#SignUpForm {
    font-family: Arial, sans-serif;
}

table {
    width: 25%;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
    vertical-align: top;
}

td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 3em;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#error {
    color: red;
    margin-top: 1em;
    font-weight: bold;
}
</style>