<template>
  <div id="profile" v-if="userType !== 'Admin'">
    <h1>Purchase History</h1>

    <!-- Search Filters and Sorting -->
    <div class="search-sort-block">
      <div class="search-filters">
          <div class="filter-group">
            <div class="filter-item" v-if="userType !== 'Manager'">
              <label for="factory">Factory Name:</label>
              <input v-model="filters.factory" id="factory" type="text" placeholder="Enter factory name" />
            </div>
            <div class="filter-item">
              <label for="priceRange">Price Range:</label>
              <input type="range" id="priceRange" min="0" :max="maxPrice" v-model.number="filters.priceMax" />
              <div class="price-values">
                <span>Min: 0</span>
                <span>Selected: {{ filters.priceMax }}</span>
                <span>Max: {{ maxPrice }}</span>
              </div>
            </div>
            <div class="filter-item">
              <label for="dateFrom">Date From:</label>
              <input v-model="filters.dateFrom" id="dateFrom" type="date" />
            </div>
            <div class="filter-item">
              <label for="dateTo">Date To:</label>
              <input v-model="filters.dateTo" id="dateTo" type="date" />
            </div>
          </div>
        </div>
  
        <!-- Sorting Options -->
        <div class="sorting-options">
          <div class="sort-item">
          <label for="sortBy" class="sort-label">Sort By:</label>
          <select v-model="sortCriteria" id="sortBy" class="sort-select">
            <option v-for="option in sortOptions" :key="option.value" :value="option.value">{{ option.label }}</option>
          </select>
        </div>
          <div class="sort-item">
            <label for="sortDirection" class="sort-label">Sort Direction:</label>
            <button id="sortDirection" @click="toggleSortDirection" class="sort-button">
              {{ sortDirection === 'asc' ? 'Ascending' : 'Descending' }}
            </button>
          </div>
        </div>
      </div>
  
      <div v-if="dateError" class="date-error">{{ dateError }}</div>

    <!-- Orders List -->
    <div v-for="o in filteredOrders" :key="o.id" class="order-card">
      <!-- Order Header -->
      <div class="order-header">
        <div class="header-item"><strong>Factory:</strong> {{ o.factory }}</div>
        <div class="header-item"><strong>Date:</strong> {{ formatDate(o.orderDateTime) }}</div>
        <div class="header-item"><strong>Status:</strong> {{ o.status }}</div>

        <div v-if="o.status === 'Processing' && userType === 'Customer'" class="order-actions top-right-corner">
          <button @click="cancelOrder(o)" class="cancel-btn">Cancel Order</button>
        </div>
      </div>

      <!-- Separator Line -->
      <div class="separator-line"></div>

      <!-- Chocolates List -->
      <div class="chocolates-list">
        <!-- Chocolates List Header -->
        <div class="chocolates-list-header">
          <div class="header-name">Chocolate Name</div>
          <div class="header-quantity">Quantity</div>
          <div class="header-price">Price</div>
        </div>

        <div class="chocolate-item" v-for="chocolate in o.chocolatesOrdered" :key="chocolate.id">
          <div class="chocolate-logo">
            <img :src="require(`@/assets/${chocolate.logo}`)" alt="Logo" class="chocolate-logo-img"/>
          </div>
          <div class="chocolate-name">{{ chocolate.name }}</div>
          <div class="chocolate-quantity">{{ chocolate.quantity }}x</div>
          <div class="chocolate-price">{{ chocolate.price }} $</div>
        </div>
      </div>

      <!-- Order Footer -->
      <div class="order-footer">
        <div class="footer-quantity"><strong>Total Quantity:</strong> {{ calculateTotalQuantity(o.chocolatesOrdered) }}x</div>
        <div class="footer-price"><strong>Total Price:</strong> {{ calculateTotalPrice(o.chocolatesOrdered) }} $</div>
      </div>
    </div>
  </div>
    <div v-if="userType === 'Admin'" class="users">
      <h2>Registered Users</h2>

      <!-- Search Filters and Sorting -->
      <div class="search-sort-block">
        <div class="search-filters">
          <input type="text" v-model="searchQuery" placeholder="Search by name" class="search-input">
          <select v-model="selectedUserType" class="filter-select">
            <option value="">All</option>
            <option v-for="type in userTypeOptions" :key="type" :value="type">{{ type }}</option>
          </select>
        </div>

        <!-- Sorting -->
        <div class="sorting-options">
          <span @click="setSortKey('firstName')" class="sort-button">First Name</span>
          <span @click="setSortKey('lastName')" class="sort-button">Last Name</span>
          <span @click="setSortKey('userType')" class="sort-button">User Type</span>
          <span @click="setSortKey('customerType')" class="sort-button">Customer Type</span>
        </div>
      </div>

      <ul>
        <li class="user-item" v-for="user in filteredAndSortedUsers" :key="user.id">
          {{ user.firstName }} {{ user.lastName }} - {{ user.userType }} 
          <span v-if="user.userType == 'Customer'">{{ user.customerType }}</span>
        </li>
      </ul>
  </div>
</template>
  
  <script setup>
  import axios from 'axios';
  import { useRouter } from 'vue-router';
  import { ref, onMounted, computed, inject } from 'vue';
  
  const allOrders = ref([]);
  const filters = ref({
    factory: '',
    priceMax: 0,
    dateFrom: '',
    dateTo: ''
  });
  const maxPrice = ref(0);
  const userPoints=ref(0);
  const dateError = ref('');
  const sortCriteria = ref('factory');
  const sortDirection = ref('asc');
  const storedUser = ref(null);
  const userType = ref('');
  const router = useRouter();
  const setUserId = inject('setUserId');
  const sortOptions = ref([]);
  const users = ref([]);

  const userFilters = ref({
    id: '',
    firstName: '',
    lastName: '',
    userType: '',
  });
  const userSortCriteria = ref('');
  const userSortDirection = ref('asc');
  const userSortKey = ref('');
  const userSortOptions = ref([
    { value: 'id', label: 'ID' },
    { value: 'firstName', label: 'First Name' },
    { value: 'lastName', label: 'Last Name' },
    { value: 'userType', label: 'User Type' },
  ]);
  const searchQuery = ref('');
  const selectedUserType = ref('');
  const userTypeOptions = ref(['Admin', 'Manager', 'Customer', 'Employee']);

  function searchUsers() {
    return users.value.filter(user => {
      return (
        (!searchQuery.value || user.firstName.toLowerCase().includes(searchQuery.value.toLowerCase()) || user.lastName.toLowerCase().includes(searchQuery.value.toLowerCase())) &&
        (!selectedUserType.value || user.userType === selectedUserType.value)
      );
    });
  }

  function sortUsers() {
      return [...searchUsers()].sort((a, b) => {
        let modifier = userSortDirection.value === 'asc' ? 1 : -1;

        // Sorting by customerType
        if (userSortKey.value === 'customerType') {
          const customerOrder = { Bronze: 1, Silver: 2, Gold: 3 };

          // Non-customers go to the bottom
          const aCustomerType = a.customerType || 'NonCustomer';
          const bCustomerType = b.customerType || 'NonCustomer';

          if (aCustomerType === 'NonCustomer' && bCustomerType !== 'NonCustomer') return 1;
          if (bCustomerType === 'NonCustomer' && aCustomerType !== 'NonCustomer') return -1;

          // Compare customer types based on custom order
          if (customerOrder[aCustomerType] < customerOrder[bCustomerType]) return -1 * modifier;
          if (customerOrder[aCustomerType] > customerOrder[bCustomerType]) return 1 * modifier;

          return 0;
        }

        // Normal sorting by userType or any other criteria
        if (userSortKey.value === 'userType') {
          if (a[userSortKey.value] < b[userSortKey.value]) return -1 * modifier;
          if (a[userSortKey.value] > b[userSortKey.value]) return 1 * modifier;
        }

        // Fallback for other sort keys
        if (a[userSortKey.value] < b[userSortKey.value]) return -1 * modifier;
        if (a[userSortKey.value] > b[userSortKey.value]) return 1 * modifier;

        return 0;
      });
    }

  const filteredAndSortedUsers = computed(function () {
    return sortUsers();
  });

  function setSortKey(key) {
    if (userSortKey.value === key) {
      userSortDirection.value = userSortDirection.value === 'asc' ? 'desc' : 'asc';
    } else {
      userSortKey.value = key;
      userSortDirection.value = 'asc';
    }
  }

  function cancelOrder(order) {
  order.status = "Canceled";
  console.log(order);

  axios.put(`http://localhost:8080/WebShopAppREST/rest/orders/${order.identification}`, order)
    .then(() => axios.get('http://localhost:8080/WebShopAppREST/rest/chocolates/'))
    .then(response => {
      const chocolates = response.data;
      const updateRequests = order.chocolatesOrdered.map(canceledChocolate => {
        const chocolate = chocolates.find(choco => choco.id === canceledChocolate.id);

        if (chocolate) {
          chocolate.quantity += canceledChocolate.quantity;
          return axios.put(`http://localhost:8080/WebShopAppREST/rest/chocolates/${chocolate.id}`, chocolate);
        }
        return Promise.resolve();
      });
      return Promise.all(updateRequests);
    })
    .then(() => {
      alert('Order has been canceled successfully.');
      const userData = localStorage.getItem('user');
      if (userData) {
        const strUser = JSON.parse(userData);
        userPoints.value = strUser.points;
      }

      const lostPoints = Math.round((order.price / 1000) * 133 * 4);
      userPoints.value -= lostPoints;

      const parsedUser = JSON.parse(userData);
      parsedUser.points = userPoints.value;
      localStorage.setItem('user', JSON.stringify(parsedUser));

      // Ensure the user update is awaited and error handled
      return axios.put(`http://localhost:8080/WebShopAppREST/rest/users/${parsedUser.id}`, parsedUser);
    })
    .then(() => {
      console.log('User updated successfully.');
    })
    .catch(error => {
      console.error('Error during order cancellation:', error);
      alert('Failed to cancel the order. Please try again later.');
    });
}

  
  onMounted(() => {
    const userData = localStorage.getItem('user');
    if (userData) {
      storedUser.value = JSON.parse(userData);
      userType.value = storedUser.value ? storedUser.value.userType : '';
    }

    if (userType.value === 'Manager') {
    sortOptions.value = [
      { label: 'Order Date', value: 'date' },
      { label: 'Total Price', value: 'price' }
    ];
    sortCriteria.value = 'date';  // Default for Manager
    } else {
      sortOptions.value = [
        { label: 'Factory Name', value: 'factory' },
        { label: 'Order Date', value: 'date' },
        { label: 'Total Price', value: 'price' }
      ];
      sortCriteria.value = 'factory';  // Default for Customer
    }

    loadOrders();
    loadUsers();
  });

  function loadOrders() {
    axios.get('http://localhost:8080/WebShopAppREST/rest/orders')
      .then(response => {
        allOrders.value = response.data.filter(order => order.customer === storedUser.value?.id);
        const prices = allOrders.value.map(order => calculateTotalPrice(order.chocolatesOrdered));
        maxPrice.value = prices.length > 0 ? Math.max(...prices) : 0;
      });
  }

  function loadUsers() {
      axios.get('http://localhost:8080/WebShopAppREST/rest/users/')
          .then(response => {
                      //loadedChocolates.push(chocolate);
            users.value = response.data;			
          });		
  }
  
  function calculateTotalQuantity(chocolatesOrdered) {
    return chocolatesOrdered.reduce((total, chocolate) => total + chocolate.quantity, 0);
  }
  
  function calculateTotalPrice(chocolatesOrdered) {
    return chocolatesOrdered.reduce((total, chocolate) => total + chocolate.price * chocolate.quantity, 0).toFixed(2);
  }
  
  function formatDate(dateTimeStr) {
    const date = new Date(dateTimeStr);
  
    if (isNaN(date)) {
      console.error('Invalid date format:', dateTimeStr);
      return 'Invalid Date';
    }
  
    return new Intl.DateTimeFormat('en-GB', {
      day: '2-digit',
      month: '2-digit',
      year: 'numeric',
      hour: '2-digit',
      minute: '2-digit'
    }).format(date).replace(',', '');
  }
  
  function filterOrders() {
    if (!filters.value.factory && filters.value.priceMax === 0 && !filters.value.dateFrom && !filters.value.dateTo) {
        return allOrders.value;
    }
  
    const filteredOrders = [];
  
    allOrders.value.forEach(order => {
      const matchesFactory = !filters.value.factory || order.factory.toLowerCase().startsWith(filters.value.factory.toLowerCase());
      const matchesPrice = filters.value.priceMax === 0 || calculateTotalPrice(order.chocolatesOrdered) <= filters.value.priceMax;
      const matchesDate = (!filters.value.dateFrom || new Date(order.orderDateTime) >= new Date(filters.value.dateFrom)) &&
                          (!filters.value.dateTo || new Date(order.orderDateTime) <= new Date(filters.value.dateTo));
      
      if (matchesFactory && matchesPrice && matchesDate) {
        filteredOrders.push(order);
      }
    });
  
    if (filters.value.dateFrom && filters.value.dateTo && new Date(filters.value.dateTo) < new Date(filters.value.dateFrom)) {
      dateError.value = 'End date cannot be before start date.';
      return [];
    } else {
      dateError.value = '';
    }
  
    return filteredOrders;
  }
  
  function sortOrders(orders) {
    if (sortCriteria.value === 'factory') {
      return orders.sort((a, b) => {
        const comparison = a.factory.localeCompare(b.factory);
        return sortDirection.value === 'asc' ? comparison : -comparison;
      });
    } else if (sortCriteria.value === 'date') {
      return orders.sort((a, b) => {
        const comparison = new Date(b.orderDateTime) - new Date(a.orderDateTime);
        return sortDirection.value === 'asc' ? comparison : -comparison;
      });
    } else if (sortCriteria.value === 'price') {
      return orders.sort((a, b) => {
        const comparison = calculateTotalPrice(b.chocolatesOrdered) - calculateTotalPrice(a.chocolatesOrdered);
        return sortDirection.value === 'asc' ? comparison : -comparison;
      });
    }
    return orders;
  }
  
  function toggleSortDirection() {
    sortDirection.value = sortDirection.value === 'asc' ? 'desc' : 'asc';
  }
  
  const filteredOrders = computed(() => {
    const filtered = filterOrders();
    return sortOrders(filtered);
  });
  </script>
  
  <style scoped>
body {
  margin: 20px;
}

#profile {
  width: 65%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.search-sort-block {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.search-filters {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-item {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
}

.filter-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.filter-item input[type="text"],
.filter-item input[type="date"],
.filter-item select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.filter-item input[type="range"] {
  width: 100%;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 5px;
}

.users {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

  .user-id, .user-firstname, .user-lastname, .user-userType {
    flex-basis: 25%;
    text-align: center;
    font-weight: bold;
    color: #343a40;
  }
  
  .sorting-options {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
  .sort-item {
    display: flex;
    align-items: center;
  }
  
  .sort-label {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .sort-select {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .sort-button {
    background: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
  }
  
  .sort-button:hover {
    background: #0056b3;
    border-color: #003d7a;
  }
  
  .order-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .order-header {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .header-item {
    margin-right: 40px;
  }
  
  .separator-line {
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
  }
  
  .chocolates-list {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .chocolate-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 18px;
  }
  
  .chocolate-name {
    flex: 3;
  }
  
  .chocolate-quantity, 
  .chocolate-price {
    flex: 1;
    text-align: right;
    padding-right: 10px;
  }
  
  .order-footer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }
  
  .footer-quantity {
    margin-right: 20px;
    text-align: right;
  }
  
  .footer-price {
    text-align: right;
    padding-right: 10px;
  }

  body {
  margin: 20px;
}

#profile {
  width: 65%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.search-sort-block {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.search-filters {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-item {
  flex: 1;
  min-width: 200px;
  margin-bottom: 10px;
}

.filter-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.filter-item input[type="text"],
.filter-item input[type="date"],
.filter-item select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.filter-item input[type="range"] {
  width: 100%;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 5px;
}

.users {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.users h2 {
  font-size: 1.8rem;
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #343a40;
  padding-bottom: 10px;
}

.search-sort-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-filters input,
.search-filters select {
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-header {
  display: flex;
  justify-content: space-between;
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-item:hover {
  background-color: #ced4da;
}

.sort-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-button:hover {
  background-color: #0056b3;
}

.sort-label {
  margin-right: 10px;
  font-weight: 500;
}

.user-id,
.user-firstname,
.user-lastname,
.user-userType {
  flex-basis: 25%;
  text-align: center;
  font-weight: bold;
  color: #343a40;
}

.sorting-options {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.sort-item {
  display: flex;
  align-items: center;
}

.sort-label {
  margin-right: 10px;
  font-size: 20px;
}

.sort-select {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.sort-button {
  background: #007bff;
  color: #fff;
  border: 1px solid #0056b3;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, border 0.3s;
}

.sort-button:hover {
  background: #0056b3;
  border-color: #003d7a;
}

.order-card {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 24px;
  margin-bottom: 15px;
}

.header-item {
  margin-right: 40px;
  font-size: 22px;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 10px;
}

.cancel-btn:hover {
  background-color: #c82333;
}

/* Separator Line */
.separator-line {
  border-bottom: 1px solid #ccc;
  margin: 15px 0;
}

/* Chocolate List Headers */
.chocolates-list-header {
  display: flex;
  align-items: center; /* Align to center vertically */
  padding-bottom: 10px;
  font-size: 22px;
}

.chocolates-list-header div {
  flex: 1;
}

.chocolates-list-header .header-name {
  flex: 3; /* Match chocolate name width */
}

.chocolates-list-header .header-quantity {
  text-align: right;
  padding-left: 150px;
}

.chocolates-list-header .header-price{
  text-align: right;
  padding-right: 10px;
}

.chocolates-list {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.chocolate-logo img {
  width: 60px; /* Increased width from 60px to 80px */
  height: 60px; /* Increased height from 60px to 80px */
  border-radius: 5px;
}

.chocolate-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 20px;
}

.chocolate-name {
  flex: 3;
  font-size: 28px;
}

.chocolate-logo {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  object-fit: contain;
  border-radius: 5px;
}

.chocolate-quantity,
.chocolate-price {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
}

.order-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  border-top: 2px solid #ccc;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #343a40;
  background-color: #f1f1f1;
  padding: 15px;
  margin-left: -15px;
}

.footer-quantity,
.footer-price {
  text-align: right;
  flex-basis: 20%;
  font-size: 22px; /* Increased font size from 20px to 22px */
}

.footer-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

</style>
  