<template>
	<div id="signup">
		<form id="SignUpForm" @submit="registerUser($event)">
				<table>
					<tr>
						<td>Username:</td>
						<td><input type="text" name="username" v-model="newUser.username"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type="password" name="password" v-model="newUser.password"></td>
					</tr>
					<tr>
						<td>Confirm Password:</td>
						<td><input type="password" name="cfrmpass" v-model="confpassword"></td>
					</tr>
					<tr>
						<td>First Name:</td>
						<td><input type="text" name="firstname" v-model="newUser.firstName"></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input type="text" name="lastname" v-model="newUser.lastName"></td>
					</tr>
					<tr>
						<td>Gender:</td>
						<td>
							<select v-model="newUser.gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Date of Birth:</td>
						<td><input type="date" name="birthdate" v-model="newUser.birthDate"></td>
					</tr>
					<tr>
                        <td><input type="submit" value="Register"></td>
                    </tr>
				</table>
				<p id="error">{{ error }}</p>
			</form>
	</div>
</template>

<script setup>
import axios from 'axios';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

const confpassword = ref("");
const router = useRouter();
const newUser = ref({ 	id: "",
						username: "",
						password: "",
						firstName: "",
						lastName: "",
						gender: 0,
						birthDate: "",
						userType: "Customer",
						allOrders: [],
						cart: 0,
						manages: 0,
						points: 0,
						customerType: "Bronze"});
const error = ref("");
const storedUser = JSON.parse(localStorage.getItem('user'))

onMounted(() => {
if(storedUser)
    if (storedUser.userType === 'Admin') {
    newUser.value.userType = 'Manager';
  	} else if (storedUser.userType === 'Manager') {
    newUser.value.userType = 'Employee';
  }
  else
  {
	newUser.value.userType = 'Customer';
  }
});

function registerUser(event) {
	event.preventDefault();
	if(this.newUser.password === confpassword.value)
	{
		console.log(this.newUser);
		if(this.newUser.userType == "Employee"){
			this.newUser.manages = storedUser.manages;
		}
		axios.post('http://localhost:8080/WebShopAppREST/rest/users', this.newUser)
			.then((response) => {
				// razlicite poruke u zavnisnoti ko pravi profil konkretno za kupca
				alert('Novi korisnik uspešno registrovan');
				console.log(response.data);
				//localStorage.setItem('user', JSON.stringify(currentUser.value)); ovo treba samo za customera 
				router.push({ path: '/' });
			});
	}
	else
	{
		alert("Sifre se ne podudaraju");
	}
}

</script>

<style scoped>
#signup {
    width: 30%;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#SignUpForm {
    font-family: Arial, sans-serif;
}

table {
    width: 25%;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
    vertical-align: top;
}

td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 3em;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#error {
    color: red;
    margin-top: 1em;
    font-weight: bold;
}
</style>