<template>
  <div id="app">
    <nav>
      <div class="nav-container">
        <img src="./assets/chocologo2.jpg" alt="Logo" class="logo" @click="navigateHome" />
        <div class="nav-right">
          <template v-if="userName">
            <span class="user-name">{{ userName }}</span>
            <img
              src="./assets/default_avatar.jpg"
              alt="Profile"
              class="profile-pic"
              @click="toggleProfileMenu"
            />
            <div v-if="showProfileMenu" class="profile-menu" @click.stop>
              <router-link to="/profile" @click="closeProfileMenu">View Profile</router-link>
              <router-link to="/edit-profile" @click="closeProfileMenu">Edit Profile</router-link>
              <router-link to="/" @click="signOut">Sign Out</router-link>
            </div>
          </template>
          <template v-else>
            <div class="auth-buttons">
              <router-link to="/login" class="auth-button">Sign In</router-link>
              <router-link to="/signup" class="auth-button">Sign Up</router-link>
            </div>
          </template>
        </div>
      </div>
    </nav>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script setup>
import { ref, provide, onMounted } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const showProfileMenu = ref(false);
const userName = ref(''); // Placeholder for user's name

// Function to set user ID and update the username
function setUserId(name) {
  userName.value = name;
}

// Provide the function so it can be injected into child components
provide('setUserId', setUserId);

// Fetch user information on mounted
onMounted(() => {
  const storedUser = localStorage.getItem('user');
  if (storedUser) {
    try {
      const parsedUser = JSON.parse(storedUser);
      userName.value = parsedUser.username; // Adjust based on the structure of user data
    } catch (error) {
      console.error("Failed to parse stored user data:", error);
    }
  }
});

function navigateHome() {
  router.push('/');
}

function toggleProfileMenu() {
  showProfileMenu.value = !showProfileMenu.value;
}

function closeProfileMenu() {
  showProfileMenu.value = false;
}

function signOut() {
  localStorage.removeItem('user');
  userName.value = ''; // Clear userName on sign out
  closeProfileMenu();
  router.push({ path: '/login' });
}

// Ensure event listener doesn't add multiple times
onMounted(() => {
  document.addEventListener('click', (event) => {
    const profileMenu = document.querySelector('.profile-menu');
    const profilePic = document.querySelector('.profile-pic');
    if (showProfileMenu.value && !profileMenu.contains(event.target) && !profilePic.contains(event.target)) {
      closeProfileMenu();
    }
  });
});
</script>




<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; /* Remove default margin and padding */
}

nav {
  padding: 10px 10px; /* Padding around the nav bar */
  display: flex;
  justify-content: space-between; /* Space items between left and right */
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%; /* Stretches across the full width */
  justify-content: space-between; /* Align items to the left and right */
}

.logo {
  height: 90px; /* Logo size */
  cursor: pointer;
  margin-left: 10px; /* Margin to push logo away from left edge */
}

.nav-right {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px; /* Margin to push profile pic away from right edge */
}

.user-name {
  margin-right: 10px; /* Space between user name and profile pic */
  font-size: 18px; /* Adjust font size as needed */
}

.profile-pic {
  height: 90px; /* Profile pic size */
  width: 90px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Adjusted to position below the profile pic */
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 150px;
  z-index: 1000; /* Ensures the profile menu is on top */
  background: white;
}

.profile-menu a {
  padding: 15px; /* Increased padding for easier clicking */
  text-decoration: none;
  color: #333;
}

.profile-menu a:hover {
  background: #f0f0f0;
}

.auth-buttons {
  display: flex;
  gap: 10px; /* Space between the buttons */
}

.auth-button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.auth-button:hover {
  background: #007bff;
  color: white;
}

.content {
  padding-top: 70px; /* Adjusted to create space for the nav bar */
}
</style>